<div class="tdash-board">
    <div class="row">
        <div class="col-lg-12 mb-3">
            <!-- <mat-card class="mat-elevation-z5 tdmatccard">

            </mat-card> -->
            <div class="maincard">
                <div class=" row m-0">
                    <div class="dashboard-first-div col-lg-4 col-md-6 col-sm-5">
                        <div class="maincards dfirst">
                            <!-- <div class="revenue-div ">
                                <h2 class=" dashboard-heading mt-2 ">Total Revenue</h2>
                                <span> <i class="fa fa-inr revenue-icon firsticon" aria-hidden="true"></i></span>
                            </div>
                            <div class="price-div">
                                <span> <i class="fa fa-inr symbols" aria-hidden="true" id="fa-icon"></i></span>
                                <h2 class="price-tag">{{revenue}}</h2>

                            </div> -->
                            <img src="https://d2tzzaacuulbxu.cloudfront.net/assets/img/tutor-dashboard/revenue.svg" alt="">
                            <div>
                                <h2 class=" dashboard-heading mt-2 ">Total Revenue</h2>
                                <h2 class="price-tag">$ {{revenue}}</h2>
                            </div>
                        </div>
                        
                    </div>
                    <div class=" dashboard-first-div col-lg-4 col-md-6 col-sm-5">
                        <div class="maincards dsecond">
                            <!-- <div class="revenue-div ">
                                <h2 class=" dashboard-heading mt-2 ">Number of Students</h2>
                                <span> <i class="fa fa-user-o revenue-icon" aria-hidden="true"></i></span>
                            </div>
                            <div class="price-div">
                                <span> <i class="fa fa-user-o symbols" aria-hidden="true"></i></span>
                                <h2 class="price-tag">{{studentsCnt}}</h2>
                            </div> -->
                            <img src="https://d2tzzaacuulbxu.cloudfront.net/assets/img/tutor-dashboard/student.svg" alt="">
                            <div>
                                <h2 class=" dashboard-heading mt-2 ">Number of Students</h2>
                                <h2 class="price-tag">{{studentsCnt}}</h2>
                            </div>
                        </div>
                    </div>
                    <div class=" dashboard-first-div col-lg-4 col-md-6 col-sm-5" id="lastdiv">
                        <div class="maincards dthird">
                            <!-- <div class="revenue-div ">
                                <h2 class=" dashboard-heading mt-2 ">No of courses</h2>
                                <span> <i class="fa fa-address-card-o revenue-icon lasticon"
                                        aria-hidden="true"></i></span>
                            </div>
                            <div class="price-div">
                                <span> <i class="fa fa-address-card-o symbols" aria-hidden="true"></i></span>
                                <h2 class="price-tag" id="counterexp">{{val}}</h2>

                            </div> -->
                            <img src="https://d2tzzaacuulbxu.cloudfront.net/assets/img/tutor-dashboard/course.svg" alt="">
                            <div>
                                <h2 class=" dashboard-heading mt-2 ">No of courses</h2>
                                <h2 class="price-tag">{{NoOfCourses}}</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 mb-3">
            <mat-card class="mat-elevation-z5 tdmatccard">
                <div class="maincards">
                    <div class="revenue-div ">
                        <h2 class=" dashboard-heading mt-2 ">Active Students</h2>
                        <span> <i class="fa fa-user-o revenue-icon astundt" aria-hidden="true"></i></span>
                    </div>
                    <div class="price-div">
                        <span> <i class="fa fa-user-o symbols" aria-hidden="true"></i></span>
                        <h2 class="price-tag">{{studentsCnt}}</h2>
                    </div>
                </div>
            </mat-card>

        </div>
        <div class="col-lg-6 mb-3">
            <mat-card class="mat-elevation-z5 tdmatccard">
                <div class="maincards">
                    <div class="revenue-div ">
                        <h2 class=" dashboard-heading mt-2 ">Top Courses</h2>
                        <span> <i class="fa fa-address-card-o revenue-icon lasticon"
                            aria-hidden="true"></i></span>
                    </div>
                    <div class="price-div">
                        <span> <i class="fa fa-address-card-o symbols" aria-hidden="true"></i></span>
                        <h2 class="price-tag">{{topcourse}}</h2>
                    </div>
                </div>
            </mat-card>
        </div>
    </div>
</div>