
<p class="coming-soon-cls">
    Coming Soon
</p>

<!-- <div class="container container-div ">
    
    <div class="fists-div">
    <h3 class="heading">About this course</h3>
        <h6 class="heading-two ">
            Learns the ins and outs of Git
        </h6>
    </div>   




<div class="row div1-row" >
    <div class="col-lg-4 col-md-4 col-sm-4">
       <h6>
           By the numbers
       </h6>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4">
        <h6>Skill level : All Levels</h6>
        <h6>Students : 8346</h6>
        <h6>Languages : English</h6>
        <h6>Captions : Yes</h6>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 ">
        <h6>Lectures : 5</h6>
        <h6 class="last-tag">Video : 15 total hours</h6>
    </div>
</div>





        







<div class="row div-2-row ">
    <div class="col-lg-4 col-md-4 col-sm-12">
        <h6>Certificates</h6>
    </div>
    <div class="col-lg-8 col-md-8 col-sm-12  " style=" padding-bottom: 20px;">
        <h6>Get Ocademy certificate by completing entire course</h6>
        <button type="button" class="btn btn-outline-secondary offset-lg-4" >Secondary</button>
    </div>
</div>





<div class="row div-3-row p-0 m-0">
    <div class="col-lg-4 col-md-4 col-sm-12">
        <h6>Features</h6>
    </div>
    <div class="col-lg-8 col-md-8 col-sm-12  p-0 ">
        <h6>Available on <span class="middle-wards">ios</span>
             and <span class="middle-wards">Android</span>
        </h6>
    </div>
</div>

</div> -->
