
<!-- <app-student-header></app-student-header> -->
<app-global-header></app-global-header>
<div class="container-fluid header-div" >
    <div class="container ">
      <h2 class="heading">Account Setting</h2>
      <span class="heading2">Notification Settings</span>
    </div>
   
</div>  
<div class="container">
    <div class="notifimaincontent">
        <div class="notification-div">
            <div class="p-3 content-divv" >
                <input type="checkbox"  >
                    
                <p class="content">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Assumenda,
                     eligendi necessitatibus, architecto odit soluta saepe fugiat eaque 
                    rerum voluptate exercitationem, 
                    beatae molestiae fuga facere. 
                    Id corrupti doloribus nihil iure. Sapiente.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque
                     repellendus nemo sit, nulla iste voluptates minima, ipsa sunt 
                     voluptas vitae optio quas mollitia. Non vel eaque accusamus minus ad nemo .
                </p>
            </div>
        
         
        </div>
        <div class="notification-div">
            <div class="p-3 content-divv" >
                <input type="checkbox"  >
                    
                <p class="content">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Assumenda,
                     eligendi necessitatibus, architecto odit soluta saepe fugiat eaque 
                    rerum voluptate exercitationem, 
                    beatae molestiae fuga facere. 
                    Id corrupti doloribus nihil iure. Sapiente.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque
                     repellendus nemo sit, nulla iste voluptates minima, ipsa sunt 
                     voluptas vitae optio quas mollitia. Non vel eaque accusamus minus ad nemo .
                </p>
            </div>
        
         
        </div>
        <div class="notification-div">
            <div class="p-3 content-divv" >
                <input type="checkbox"  >
                    
                <p class="content">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Assumenda,
                     eligendi necessitatibus, architecto odit soluta saepe fugiat eaque 
                    rerum voluptate exercitationem, 
                    beatae molestiae fuga facere. 
                    Id corrupti doloribus nihil iure. Sapiente.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque
                     repellendus nemo sit, nulla iste voluptates minima, ipsa sunt 
                     voluptas vitae optio quas mollitia. Non vel eaque accusamus minus ad nemo .
                </p>
            </div>
        
         
        </div>
        <div class="notification-div">
            <div class="p-3 content-divv" >
                <input type="checkbox"  >
                    
                <p class="content">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Assumenda,
                     eligendi necessitatibus, architecto odit soluta saepe fugiat eaque 
                    rerum voluptate exercitationem, 
                    beatae molestiae fuga facere. 
                    Id corrupti doloribus nihil iure. Sapiente.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque
                     repellendus nemo sit, nulla iste voluptates minima, ipsa sunt 
                     voluptas vitae optio quas mollitia. Non vel eaque accusamus minus ad nemo .
                </p>
            </div>
        
         
        </div>
    </div>
</div>
<app-student-footer></app-student-footer>