<section class="resetpassword">
    <header id="main">
        <div class="container-fluid resetheader">
            <nav class="px-0 navbar navbar-expand-lg navbar-light ">
                <a class="navbar-brand" href="javascript:;" data-aos-delay="600" data-aos="fade-right">
                    <!-- <img src="https://d2tzzaacuulbxu.cloudfront.net/assets/img/main-home/Ocademylogo.svg" alt="" class="img-fluid"> -->
                    <p class="reset_password_cls"> Reset New Password </p>
                </a>
            </nav>
        </div>
    </header>

    <form [formGroup]="resetpasswordForm" (ngSubmit)="submitResetFormData()">

        <div class="form-group">
            <label for="newpassword" class="labell">New Password</label>
            <input formControlName="newpassword" id="newpassword"
            (keydown.space)="$event.preventDefault()"
            type="password" class="form-control"
                appAvoidwhitespaces>
            <div *ngIf="f.newpassword.touched && f.newpassword.invalid" class="alert alert-danger">
                <div *ngIf="f.newpassword.errors.required">Password is required.</div>
                <div *ngIf="f.newpassword.errors.pattern">
                    Your password must be at least 8-16 characters long, contain at least one number, one special character and have a mixture of uppercase and lowercase letters
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="confirm_password" class="labell">Confirm Password</label>
            <input formControlName="confirm_password" id="confirm_password" type="password" class="form-control"
                appAvoidwhitespaces>
            <div *ngIf="f.confirm_password.touched && f.confirm_password.invalid" class="alert alert-danger">
                <div *ngIf="f.confirm_password.errors.required">Confirm Password is required.</div>
                <div *ngIf="f.confirm_password.errors.confirmedValidator">Password and Confirm Password must be match.
                </div>
            </div>
        </div>

        <div class="mt-5  submit-button-div">
            <button class="btn btn-primary submit-botton btn-lg btn-block " type="submit"
                [disabled]="!resetpasswordForm.valid">Reset</button>
        </div>








        <!-- <div class="form-group">
            <label for="newpassword">New Password</label>
            <input type="password" class="form-control" id="newpassword" placeholder="New Password"
                (keyup)="newpassword($event)">
            <p class="passwordstrength">
                <span class="one" *ngIf="showred"></span>
                <span class="twoo" *ngIf="showorange"></span>
                <span class="three" *ngIf="showlgreen"></span>
                <span class="four" *ngIf="showgreen"></span>
            </p>
        </div> -->

        <!-- <div class="form-group">
            <label for="confirmPassword">Confirm Password</label>
            <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm Password"
                (keyup)="confirmpassword($event)">
            <p class="passwordstrength1">
                <span class="one" *ngIf="cshowred"></span>
                <span class="twoo" *ngIf="cshoworange"></span>
                <span class="three" *ngIf="cshowlgreen"></span>
                <span class="four" *ngIf="cshowgreen"></span>
            </p>
        </div> -->

        <!-- <button type="submit" class="btn btn-primary">Submit</button> -->
    </form>
</section>