section.resetpassword {
    max-width: 600px;
    margin: 40px auto;
    box-shadow: 0 0 5px #000;
    padding: 30px;
}
.resetheader nav{
    text-align: center;
    display: flex;
    /* justify-content: center; */
    margin-bottom: 20px;
}
.passwordstrength, .passwordstrength1{
    display: flex;
}
.passwordstrength span{
    height: 5px;
    width: 20px;
    background: #ccc;
    margin: 5px;
}
.passwordstrength1 span{
    height: 5px;
    width: 20px;
    background: #ccc;
    margin: 5px;
}

.passwordstrength span:first-child, .passwordstrength1 span:first-child{
    background: red;
}
.passwordstrength span:nth-child(2), .passwordstrength1 span:nth-child(2){
    background: orange;
}
.passwordstrength span:nth-child(3), .passwordstrength1 span:nth-child(3){
    background: lightgreen;
}
.passwordstrength span:nth-child(4), .passwordstrength1 span:nth-child(4){
    background: green;
}

.reset_password_cls{
    color: #2D93CF;
    font-size: 22px;
    font-weight: 900;
}

.resrt-btn-cls{
   background:  #2D93CF;
   color: #ffffff;
}